body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #333; /* Dark gray background */
    margin: 0;
    padding: 0;
}

header {
    background-color: #444; /* Slightly lighter gray for the header */
    padding: 20px;
    text-align: center;
    border-radius: 12px; /* Rounded corners */
    margin: 20px; /* Margin around header */
}

h1 {
    margin: 0;
    font-size: 2em;
}

main {
    display: flex;
    padding: 20px;
}

aside {
    flex: 1;
    background-color: #444;
    padding: 20px;
    border-radius: 12px; /* Rounded corners */
    display: none; /* Initially hidden */
}

#categories {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#categories li {
    background-color: #555;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#categories li:hover {
    background-color: #666;
}

section#blog-posts {
    flex: 3;
    margin-left: 20px;
}

article {
    background-color: #444;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

article h2 {
    margin-top: 0;
}

article p {
    margin: 10px 0 0;
}
